{{form_start(formView, {attr:{'novalidate': 'novalidate'}})}}

{{form_row(formView.libelle)}}
{{form_row(formView.marque)}}

<button type="submit" class="btn btn-success">Enregistrer</button>

{{form_end(formView)}}
